/* 🍀 start coding */

body {
  background-color: var(--color-kakao);
  height: 500vw; /* js 10 */
}

.world {
  width: 100vw;
  height: 100vh;

  position: fixed; /* js 10 */
  left: 0;
  top: 0;

  perspective: 1000px; /* css 10 */
}

.stage {
  width: 100vw;
  height: 100vh;
  
  position: absolute;
  left: 0;
  top: 0;

  transform-style: preserve-3d; /* css 10  */
  
  transform-origin: center;/* js 40*/
  transform: rotateY(0deg);/* js 40*/
}

.house {
  width: 100vw;
  height: 100vh;

  transform: translateZ(-490vw); /*css 10   */ /* js 20 */
  transform-style: preserve-3d; /* css 10  */
}

.wall {
  background-color: var(--color-light2-white);
  width: 100vw;
  height: 100vh;

  position: absolute;
  left: 0;
  top: 0;
 
}

/* wall left, right */

.wall-left {
  width: 1000vw;
  background: var(--color-light2-white);
  transform: rotateY(90deg) translateZ(-500vw); /* css 10  */
}
.wall-right {
  width: 1000vw;
  background: var(--color-light2-white);
  transform: rotateY(90deg) translateZ(-400vw); /* css 10  */
}

/* wall front */

.wall-front-a {
  transform: translateZ(300vw);
}
.wall-front-b {
  transform: translateZ(50vw);
}
.wall-front-c {
  transform: translateZ(-200vw);
}
.wall-front-d {
  transform: translateZ(-500vw);
}

/* */
.wall-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.wall-title {
  font-size: 5rem;
}

/* progress-bar */
.progress-bar-con {
  background: var(--color-grey);
  width: 100vw;
  height: 5px;

  position: fixed;
  left: 0;
  top: 0;

  z-index: 100;

}
.progress-bar {
  width: 0; /* js 30*/
  height: 100%;
  background: var(--color-netflix);
}

/* char */
/* 
.character-con{
  position: absolute;
  bottom: 0.5rem;
  
  width: 1rem;

  z-index: 100;
}

.character{
  font-size: 0.1vw;
  width: 1rem;
}
 */
 
